.sampleNewsletterText {
  display: flex;
  justify-content: center;
}

.newsletterMain {
  display: flex;
  justify-content: center;
  padding: 2rem;
  min-height: 100vh;
  background: linear-gradient(to bottom,transparent,rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  background-color: #452c63;
}

.header {
  width: 100%;
  height: 60px;
  color: white;
  display: flex;
  align-items: center;
}

.paper {
  color: black;
}

.newsletterCenter {
  width: 60%;
}

.title {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  font-size: 64px;
  font-family: 'Nunito Sans'
}

.newsletterFirstSectionHeader {
  margin-bottom: 20px;
}

.newsletterSectionHeader {
  margin-bottom: 20px;
  margin-top: 40px;
}

.loadingSpinner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletterWelcome {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  font-size: 32px;
  text-align: center;
  color: lavender;
}

.newsletterButtons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  font-size: 32px;
}

.roboEmoji {
  font-size: 19px;
  margin-right: 5px;
}

.noTweetsCenter {
  max-width: 500px;
}

@media (max-width: 450px) {
  .btnSpan {
    margin: 10px;
  }

  .newsletterButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    font-size: 32px;
    margin: 15px;
  }


  .newsletterCenter {
    width: 100%;
  }

  .newsletterMain {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    min-height: 100vh;
  }
}

@media (min-width: 450px) and (max-width: 1100px) {
  .btnSpan {
    margin: 10px;
  }

  .newsletterButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    font-size: 32px;
    margin: 15px;
  }

  .newsletterCenter {
    width: 90%;
  }
}